
.image { 
    background: var(--cor-fundo, #f4f4f4); 
    background-size: auto;
    border-radius: 50px; 
    border-style: solid; 
    border-color: #000000; 
    border-width: 1px; 
    width: 808px; 
    height: 908px; 
    position: relative; 
    z-index: -1; 
}

.perfil-info {
    margin-top: 20px;
    left: 35%;
    position: relative;
  }
  
.perfil-foto img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #000000;
}
  
.perfil-nome {
    margin: 15px 0 5px;
    font-size: 28px;
    left: 15%;
}
  
.perfil-codigo {
    color: #71d0ff;
    font-weight: bold;
    left: 25%;
}
  
.barra-ativo{
    width: 100%;
    max-width: 120px;
    height: 20px;
    position: absolute;
    margin-bottom: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 35%;
}

.bot-es7 {
    background: var(--cor-principal, #71d0ff);
    border-radius: 16px;
    width: 100%;
    max-width: 720px;
    height: 78px;
    display: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s ease;
    border: 1px solid #000000;
    z-index: 3;
}