
.image { 
    background: var(--cor-fundo, #f4f4f4); 
    background-size: auto;
    border-radius: 50px; 
    border-style: solid; 
    border-color: #000000; 
    border-width: 1px; 
    width: 808px; 
    height: 1400px; 
    position: relative; 
    z-index: -1; 
}

#ProjetosTable {
    width: 100%;
    border-collapse: collapse;
    max-height: 300px;  /* Altura máxima da tabela */
    overflow-y: auto;   /* Ativa o scroll vertical */
    display: block;     /* Torna a tabela um bloco para o scroll funcionar */
  }
  
  th, td {
    border: 2px solid #333;
    padding: 10px;
    text-align: center;
  }
  
  /* Cabeçalho fixo da tabela */
  thead {
    position: sticky;
    top: 0; /* Fixa o cabeçalho no topo */
    background-color: #57b4e1;
    color: white;
  }
  
