.image { 
    background: var(--cor-fundo, #f4f4f4); 
    border-radius: 50px; 
    border: 1px solid #000000; 
    width: 808px; 
    height: 850px; 
    position: relative; 
    z-index: -1; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#clientesTable {
    width: 100%;
    border-collapse: collapse;
    max-height: 300px;  /* Altura máxima da tabela */
    overflow-y: auto;   /* Ativa o scroll vertical */
    display: block;     /* Torna a tabela um bloco para o scroll funcionar */
    position: relative;
    left: 115px;
  }
  
  th, td {
    border: 2px solid #333;
    padding: 10px;
    text-align: center;
  }
  
  /* Cabeçalho fixo da tabela */
  thead {
    position: sticky;
    top: 0; /* Fixa o cabeçalho no topo */
    background-color: #57b4e1;
    color: white;
  }


button {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.btn-editar {
    background-color: #007bff;
    color: white;
}

.btn-excluir {
    background-color: #dc3545;
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between; /* Alinha o botão e o perfil nos extremos */
    align-items: center; /* Mantém alinhado verticalmente */
    width: 100%;
    padding: 10px 20px;
    position: relative; /* Permite posicionamento absoluto de filhos */
}

.voltar img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.image-44 {
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    transition: background 0.3s ease;
    position: absolute;
    right: 60px; /* Ajuste a posição */
    top: 38px;
}